---
layout: default
title: Blog - IT Beratung Benjamin Herbert
---          
<div id = "content" itemscope itemtype="http://schema.org/Person">
    
      <div class="row">
	<div class = "span12">
	  <h1>Willkommen</h1>
	</div>
      </div>
      
      <div class="row">
	<div class="span2">
	  <img src="https://secure.gravatar.com/avatar/e064986be7ea33624fdda314cc9c6fff.png?s=180" alt="image of Benjamin Herbert" itemprop="image" class="img-rounded img-header" />
	</div>
	<div class="span8"> 
	  <p>
	   <span itemprop="name">Benjamin Herbert</span> ist ein <span itemprop="jobTitle">Softwareentwickler</span> mit Schwerpunkt auf Java. Er hat mehr als 9 Jahren Erfahrung in
der IT-Branche, insbesondere in allen Phasen der Anwendungsentwicklung wie Konzeption, Entwicklung, Test und Releasemanagement gesammelt. Er ist ein Anhänger von der Softwarecraftsmanship-Bewegung und ist sehr motiviert sich persönlich und fachlich weiter zu entwickeln. Durch seine langjährige Erfahrung mit Legacy-Code hat er gelernt, wie wichtig sauberer, wartbarer Code ist und welche Vorteile test-getriebene Entwicklung bringen kann. 

Automatisierung hält er für enorm wichtig um sich auf die schwierigen und komplexen Probleme zu fokussieren und keine Zeit mit sich wiederholenden Aufgaben zu verlieren. Wenn es die Zeit erlaubt, nimmt er an Meetings der Softwerkskammer Rhein-Main teil und tauscht sich mit Gleichgesinnten aus.
	</div>	  
      </div>
      
      <div class="row">
	<div class="span5">
	<h2>Fachliche Interessen</h2>
	  <ul>
	    <li>Konzeption, Entwicklung und Test von Softwarelösungen in Java</li>
	    <li>Build Management</li>
	    <li>Release Management</li>
	    <li>Continuous Integration, Continuous Delivery, Devops</li>
	    <li>Software Craftsmanship</li>
	  </ul>	  
	</div>
	<div class="span7">
	  <h2>Recent Posts</h2>
	  <ul class="unstyled">
	    {% for post in site.posts limit: 5 %}
	      <li>
		<span class="label label-inverse label-date">{{ post.date | date_to_string }}</span> &raquo; 
		<a href="{{ post.url }}">{{ post.title }}</a>
	      </li>
	    {% endfor %}
	  </ul>
	</div>      
      </div>
     
      <div class="row">	
	<div class="span8">
	  <h2>Sonstiges</h2>
	</div>	
	<div class="span4">	  
	  <h2>Kontakt</h2>
	  {% include address.html %}
	</div>
      </div>

</div>
      
