body {
  padding-top: 60px;
  padding-bottom: 40px;
  color: #444;
}

h1 {
  font-family:'Bree Serif', Georgia, serif; 
  font-weight: 400;
  font-size: 32px;
  font-height: 1.5em;
  color: #222;
}

h2 {
  font-family:'Bree Serif', Georgia, serif; 
  font-weight: 400;
  font-size: 26px; 
  color: #222;
}
 
p {
  font: 400 16px/1.6 'Open Sans', Verdana, Helvetica, sans-serif;
}

#content {
  font: 400 16px/1.6 'Open Sans', Verdana, Helvetica, sans-serif;
}